-----BEGIN PRIVATE KEY-----
[Your RS256 Private Key Here]
This is used by the controller to sign JWT tokens for WebSocket authentication.

To generate a new key pair:
1. Generate private key:
   openssl genrsa -out private.pem 2048

2. Extract public key:
   openssl rsa -in private.pem -pubout -out public.pem

3. Copy both files to this directory:
   - private.pem (keep secret, never commit to git)
   - public.pem (shared with gateway for JWT verification)

Important: Keep private.pem secure and never commit it to version control.
-----END PRIVATE KEY-----
